<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href=https://fonts.googleapis.com/css?family=Roboto:100 type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/css-categoryMovies.css">
    <meta charset="UTF-8">
    <title> Gerência de <%= movies.name %> </title>
</head>
<body style="font-family:Roboto;text-align:left;">
    <form style="float: left;margin:0em 1em 0em 0em;" method="GET" action="/gerenciar_filmes">
        <button type="submit">Voltar para Gerência</button>
    </form>
    <h1 style="color:#E7CC34; margin: 1em 0em 1em 43%">Gerência de Filmes</h1>
    <form id="demo" style="text-align: center;">
        <button type="button" id="irButton" onclick="get()">Novo Filme</button>
    </form>
    <br></br>
    <table id="tabela.categorias" class="movies">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>CATEGORIAS</th>
                <th>DESCRIÇÂO</th>
                <th>IMAGENS</th>
                <th>IMAGENS 1280x720</th>
                <th>TRAILER</th>
                <th>AVALIAÇÃO</th>
                <th>AÇÔES</th>
            </tr>
        </thead>
        <tbody class="movies">            
                <tr class="movie">
                    <td>
                        <%= movies._id %>
                    </td>
                    <td>
                        <%= movies.nome %>
                    </td>
                    <td id="filmesCategorias">
                        <% if(typeof movies.categorias != 'undefined') { %>
                            <% for(var j=0; j<movies.categorias.length; j++) { %>
                                <% for(var k=0; k<categories.length; k++) { %>
                                    <% var categoria = categories[k]._id + ''; %>
                                        <% var categoriaDoFilme = movies.categorias[j] + ''; %>
                                            <% if(categoria == categoriaDoFilme) { %>
                                                <%= categories[k].name %>
                                                    <% if(k<movies.categorias.length - 1) { %> ,
                                                        <% } %>
                                                            <% }}}} %>
                    </td>
                    <td>
                        <%= movies.descricao %>
                    </td>
                    <td>
                        <%= movies.imagem %>
                    </td>
                    <td>
                        <%= movies.imagem2 %>
                    </td>
                    <td>
                        <%= movies.trailer %>
                    </td>
                    <td>
                        <%= movies.avaliacao %>
                    </td>
                    <td>
                        <select data-id='<%= movies._id %>' onchange="data(this.value, '<%= movies._id %>');">
                  <option disable selected style="display: none; font-size:14px; text-align: center;">Opções</option>
                  <option value="1" style="font-size: 14px;">Editar</option>
                  <option value="2" style="font-size: 14px;">Excluir</option>
                  <option value="3" style="font-size: 14px;">Add Categorias</option>
                  <option value="4" style="font-size: 14px;">Remover Categoria</option>
                </select>
                    </td>
                </tr>
        </tbody>
    </table>
    <script>
        
        function get() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', "/novo_filme");
            xhr.onload = function () {
                if (xhr.status === 200) {
                    window.location.href = "/novo_filme"
                }
                else {
                    alert('Request failed.  Returned status of ' + xhr.status);
                }
            };
            xhr.send();
        }

        function data(op, x) {
            var a = $(this).closest('.p').find('#id');
            console.log(a);
            var id = $("select").data('id')
            console.log(x);          
            if (op === "1") {               
                console.log('edit');               
                var xhr = new XMLHttpRequest();
                xhr.open('GET', "/editMovie/" + x);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        window.location.href = "/editMovie/" + x
                    }
                    else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }
            else if (op === "2") {
                console.log(id);
                var confirmar = confirm('Deseja realmente deletar esse filme?')
                if (confirmar) {
                    $.ajax({
                        method: 'DELETE',
                        url: '/movies/' + x,
                        contentType: 'application/json',
                        success: function (response) {
                            console.log('aaaa');
                            console.log(response);
                        }
                    });
                }
                window.location.href = "/gerenciar_filmes"
            }
            else if (op === "3") {
                window.location.href = "/addCategorias/" + x
            }
            else if (op === "4") {
                window.location.href = "/removeCategorias/" + x
            }
        }
    </script>
</body>
</html>